<!DOCTYPE html>
<html lang="en">
<head>
  
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h2 class="mb-4">Staff Details</h2>
      </div>
      <div class="col text-right">
        <a href="/staff/add" class="btn btn-primary">Add Staff</a> 
        <a href="/" class="btn btn-primary">Home</a> 
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Salary</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% staffMembers.forEach(member => { %>
          <tr>
            <td><%= member.name %></td>
            <td><%= member.address %></td>
            <td><%= member.phone %></td>
            <td><%= member.salary %></td>
            <td><%= member.category %></td>
            <td>
              <form method="POST" action="/staff/delete/<%= member._id %>" style="display: inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>
